.container {
  text-align: center;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-header{
  text-align: center;
}

.card-body {
  display: flex;
  justify-content: center;
}